@import url('https://unpkg.com/leaflet@1.7.1/dist/leaflet.css');



@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
 background: url("/bg4.jpg") no-repeat center center  ;
   min-height: 100vh;
   background-size: cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


body.evening {
  background-image: url('/night.jpg');
}

input[type="search"] {
  outline: none; 
  border-bottom: 2px solid gray; 
  background: transparent; 
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-cancel-button,

input[type="search"]::-webkit-search-results-decoration {
    display: none;
}